# My notebook

## Introduction

this is my first using jupyter notebook

### some of data science languages are:

1. python
2. julia
3. javascript
4. sql
5. R

### list of data science libraries

1. pandas
2. numpy
3. pytorch
4. matplotlib
5. scipy
6. scikit learn
7. plotly

## Table of data science tools

|sno|tool|desc|
|---|----|---|
|1|excel|basic cell format|
|2|jupyter|open source|
|3|spark|mainly for ML|

### some examples of arithmetic expressions are:

* $ f(x)=y^2 $

* $ x^3+2x^2+x-3=0 $

* $ E=mc^2 $

## code to multiply and add numers

In [3]:
a=int(input())
b=int(input())
print("the product is",a*b)
print("the sum is",a+b)

 3
 4

the product is 12
the sum is 7

### code to convert minutes to hours

In [5]:
a=float(input("give the number of minutes"))
print(a/60,"hours")

give the number of minutes 115

1.9166666666666667 hours

#### objectives

* first take two numbers 
* then divide by 60 to get the number of hours
* then print the numbers

                                                                                                author: Sai Ganesh